html, body {
    padding: 0;
    margin: 0;
}
html {
    background: $primary-bg-color;
    font-family: $primary-font-family;
    font-size: $primary-font-size;
    line-height: $primary-line-height;
    letter-spacing: $primary-letter-spacing;
    color: $primary-font-color;
}
*, *:before, *:after {
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: $secondary-font-color;
}